.NavbarItems {
    background:linear-gradient(90deg,rgb(100,94,254)0%,rgb(73,63,252,1)100%);
    display: flex;
    height:80px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.navbar-logo{
    justify-self: star;
    margin-left: 20px;
    cursor: pointer;
    
}
.avatar{
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 25px;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    justify-content: end;
    
}

.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}